body{

    padding-bottom: 100px;
    


}


#tituloBienvenida {

    font-size: 60px;
    color:black;
    font-family:Nekst;
    text-align: center;
    margin-bottom: 60px;
    

}

@font-face {
    font-family: 'Nekst';
    src: local("Nekst Black");


    font-family: 'Nekst-Bold';
    src: local("Nekst Bold");
    
}

#buttonBienvenida{

    font-family:Nekst-Bold;
    font-size: 40px;
    color: white;
    


}

.logo{

    font-size: 30px;
    color:white;
    font-family:Nekst;
    text-align: center;
    padding-left: 30px;

}

.footer{

    color: white;
    font-family:Nekst;
    text-align: center;
    position: fixed;
    left:0px;
    bottom:0px;
   
   width:100%;
}


#margenesInicio{

    margin: 100px;

}

#subTitulo{
    font-size: 30px;
    color:black;
    font-family:"Nekst Black";
    text-align: left; 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.form{

    padding-top: 30px;
    padding-left: 30px;
    align-items: center;

}

.fuenteFormulario{
     font-size: larger;
     font-family:"Nekst";
    
     color: #00d084;
     

}


.botonCustom{

    margin: 0 auto;
    display: inline;
    font-family: "Nekst";
}

.containerCal{

    background-color: black;
    border-style: solid;
    border-radius: 15px 50px;
    border-color: #00d084;



    padding: 20px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f3969a;
}

ul{
    color: #00d084;
    font-family: "Nekst";

}



